html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
    background: var(--backgroundColor);
}

.movies {
    background-color: var(--backgroundColor);
    position: relative;
    z-index: 500;
}





::-webkit-scrollbar {
    display: none;
}